/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

/* container do navbar */
.containerNavbar{
    display: flex;
    justify-content: space-between;
    background-color: #002c53;
    width: 100%;
    height: 64px;
    padding: 20px;
    position: fixed;
    z-index: 1000;
}

/* itens da lista não ordenada de dentro do nav bar */
.itensDeNavegacao{
    display: flex;
    gap: 40px;
    list-style: none;
    transition: all 0.4s;
}

.itensDeNavegacao > .itemLista > a{
    text-decoration: none;
    color: #ffff;
}

.itensDeNavegacao>.itemLista>a:hover {
    color: #cbcbcb;
    transition: 0.3s;
}
/* botão entre em contato do navbar */
.botaoContato{
    padding: 5px;
    width: 180px;
    height: 35px;
    margin-top: -5px;

    color: #002c53;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    border: none;

    transition: 0.5s;
}

.botaoContato:hover {
    background-color:#cbcbcb;
    cursor: pointer; 
}

/* titulo principal da pagina e background */
.backgroundPrincipal{
    background-image: url(../img/bannerPrincipal.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index:1;

}

.backgroundPrincipal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #111111, #ffffff00);
}

.backgroundPrincipalblack{
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 2;
}

.tituloprincipal{
    z-index:3;
    position: absolute;
    font-size: 25px;
    width: 520px;
    height: 96px;
    top: 154px;
    left: 89px;
    color: #ffff;
}

.tituloprincipal>h1{
    margin-bottom: 20px;
    font-size: 40px;
    width: 600px;
}

.destaque{
    font-weight: bolder;
}

.tituloprincipal>p{
    margin-bottom: 60px;
    font-size: 18px;

}

.botaoContatoDois{
    width: 339px;
    height: 64px;
    border-radius: 10px;
    background-color: #002c53;
    font-size: 25px;
    color: #ffff;
    font-weight: bold;
    border:  none;

    transition: all 0.5s;
}

.botaoContatoDois:hover{
    /* background-color: #012646; */
    background-color: #fff;
    /* color: #cfcfcf; */
    color: #012646;
    cursor: pointer;
}

/* seção de sobre Nois */
.designerformaum{
    width: 100%;
    height: 64px;
    background-color: #335675;
}

.tituloSobrenois{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 90px;
    font-size: 40px;
}


.sobrenoisFoto{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 190px;

}
.sobrenoisparagrafo{
    width: 485px;
    height: 420px;
    font-size: 20px;
    line-height: 30px;
    color: #002c53;
}

.sobrenoisparagrafo>p{
    margin-bottom: 30px;
}

.imgsobrenois{
    width: 504px ;
    height:510px;
    border-radius: 10px;
    
}
.designerformadois {
    position: absolute;
    z-index: -1;
    background-color: #31827c;
    width: 1058.40px;
    height: 521.53px;
    border-radius: 148px;
    transform: rotate(-38deg);
    margin-top: -650px;
    left: 670px;
}

/* misão visão e valores */
.containermisaovisaovalores{
    display: flex;
    justify-content: center;
    gap: 85px;
    background-color: #335675;
    width: 100%;
    height: 817px;
    margin-top: 110px;
}

.cardes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    margin-top: 100px;
    background-color: #ffff;
    width: 400px;
    height: 260px;
    padding: 30px;

}

/* serviços */
.containerServiços{
    position: relative;
    background-color: #ffff;
    margin: 0 auto;
    margin-top: -350px;
    border-radius: 32px;
    width: 1441px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 4px -4px 8px rgba(0, 0, 0, 0.1),
            /* cima + direita */
            4px 4px 8px rgba(0, 0, 0, 0.2);
        /* baixo + direita */
}

.itenServiço{
    padding: 50px;
    width: 480px;
    height: 260px;
    font-size: 20px;
}

.itenServiço>i{
    margin-bottom: 30px;
    font-size: 50px;
    color: #002c53;
}

.itenServiço>h3 {

    margin-bottom: 10px;
    font-size: 25px;
}
.itenServiço>p{
    color: #002c53;
}

.tituloNossosServicos {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

/* contato */
.formularioContato{
    margin-top: 50px;
    background-color: #335675;
    width: 100%px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.titulocontato{
    width: 566px;
    height: 62px;
    color: #ffff;
    font-size: 30px;
}

label{
font-size: 20px;
color: #ffff;
}

.imgContato{
    width: 566px;
    height: 636px;
   background-size: cover;
   background-position: center;
   border-radius: 100px;
}

.contatoFormulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 566px;
    height: 636px;
    justify-content: center;
}

.imputNome{
    margin-bottom: 25px;
    width:566px;
    height: 62px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 25px;
}
.imputemail{
    margin-bottom: 25px;
    width: 270px;
    height: 62px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 25px;
    margin-bottom: 5px;

}
.imputnumber{
    margin-bottom: 25px;
    width: 270px;
    height: 62px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 25px;

}
.imputtextarea{
    margin-bottom: 25px;
    width:566px;
    height: 150px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    
}

.emailContato{
    display: flex;
    gap: 25px;
    width: 566px;
    height: 62px;
    margin-bottom: 50px;

}

.buutonForm {
    margin-top: 30px;
    width: 566px;
    height: 60px;
    border-radius: 8px;
    font-size: 25px;
    color: #002c53;
    font-weight: bold;
}

.separandomainfooter{
    width: 100%;
    height: 64px;
    background-color: #ffffff;
}

/* footer */
.containerfooterum{
    width: 100%x;
    height: 418px;
    background-color: #002c53;
    color: #ffff;
}


.containerfooterdois{
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
}

.linkfooter{
    font-size: 25px;
    margin-top: 30px;
    text-decoration: none;
    color: #ffff;
    
}
.listaitensfooter{
    margin-top: 30px;
    font-size: 25px;
   display: flex;
   list-style: none;
   gap: 05px;
}   
/* linha que separa o footer */
.linha{ 
    margin-top: 30px;
    width: 100%;
}

.linha>hr{
   width: 1400px; 
   margin: 0 auto;
   font-size: px;
}
/* localizacao do footer */
.footerLinksContatos>p>i{
    margin-right: 8px;
}

/* restante do footer */
.footerLinksContatos{
    margin-top: 50px;
    margin-right:200px ;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
}

.footerLinksuteis{
    display:flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.footerLinksuteis>li>a{
    text-decoration: none;
    color: #ffff;
}
.footerLinksuteis>li>i{
    margin-right: 8px;
}

.copy{
    margin-top: 80px;
    text-align: center;
}


